.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ensure left */
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif; /* font */
  color: #333; /* font clolor */
  padding: 20px;
  min-height: 100vh; /* set min height */
  width: 100vw; /* set width */
  background-image: url('./1.jpg'); /* picture  */
  background-size: cover; /* cover */
  background-position: center center; /* middle */
  background-repeat: no-repeat; /* no repeat picture */
  box-sizing: border-box; /* deal with different  */
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 0; /* mddile */
}

.main-content {
  text-align: left; /* make it left */
  padding: 0 20px; /* make it enough padding */
  width: 40%; /*  */
}

h1 {
  margin: 0;
  padding: 0;
  color: #080808; /* color */
  font-size: 2.5rem; /* text size */
}

.intro-text {
  color: black; /* color */
  font-size: 1.25rem; /* size */
  margin-top: 20px; /* top margin */
  line-height: 1.5; /* line height */
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .top-bar {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .main-content {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1rem;
  }
}

