.search-area {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .search-bar {
            flex: 1;
            padding: 10px;
            border: 1px solid #d4a373;
            border-radius: 5px 0 0 5px;
            outline: none;
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    background-color: #d4a373;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }

  .search-box button {
    margin-left: 5px; /* 按钮与输入框间距 */
  }
  
  .intro-text {
    max-width: 500px; /* text width */
  }
  
  .search-box {
    display: flex;
    width: 100%;
    max-width: 500px; /* search width */
  }
  .search-box input, .search-box button {
    flex-grow: 1;
    margin: 10px 0;
  }